##### 점프 투 파이썬
---
02장 연습문제

> Q1    
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [1]:
korean = 80
english = 75
math = 55

sum = korean + english + math
Average = sum / 3
print("홍길동 씨의 평균 점수는 ",Average,"점 입니다.")

홍길동 씨의 평균 점수는  70.0 점 입니다.

In [2]:
# 다른 방법으로 해봅시다!!
print(type([])) # 항상 타입을 확인해보세요.

subjects = [80, 75, 55]
total = subjects[0] + subjects[1] + subjects[2]
#total = sum(subjects) 를 사용할수도 있다.
avg = total/len(subjects)

print("홍길동 씨의 평균 점수는 ",avg,"점 입니다.")

<class 'list'>
홍길동 씨의 평균 점수는  70.0 점 입니다.

In [3]:
# 또 다른 방법으로 해봅시다!!
subjects = {"국어":80,"영어":75,"수학":55}
total = subjects["국어"] + subjects["수학"] + subjects["영어"]
avg = total / len(subjects)

print("홍길동 씨의 평균 점수는 ",avg,"점 입니다.")

홍길동 씨의 평균 점수는  70.0 점 입니다.

In [5]:
# 사용자로부터 이름과 성적을 입력 받아 총점과 평균을 구해 출력하는 프로그램 작성
name = input("이름을 입력해주세요: ")
korean = input("국어 성적을 입력해주세요: ")
english = input("영어 성적을 입력해주세요: ")
math = input("수학 성적을 입력해주세요: ")

total = int(korean) + int(english) + int(math)
avg = total / 3

print(name, "님의 총점 =", total, "평균 =", avg, "입니다.")

백대휘 님의 총점 = 210 평균 = 70.0 입니다.

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [10]:
# 짝수냐 홀수냐 를 구하는 것
# 짝수 = "02468"  홀수 = "13579"
number = input("숫자를 입력하세요: ")
if number[-1] in "02468":
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [14]:
# all 참
0 < 3 and True and True and True and True and True and True and True and True and True

# any 참
100 < 200 or False or False or False or False or False or False or False or False or False

True

In [11]:
# 2n+1, 2n-1
number = input("자연수를 입력해주세요: ")

if int(number) % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

짝수입니다.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [18]:
number = "881120-1068234"
yyyymmdd = number[:6]
back = number[7:]
print("홍길동씨의 주민번호 앞자리는",yyyymmdd, "입니다.")  # 881120 출력
print("홍길동씨의 주민번호 뒷자리는",back, "입니다.")       # 1068234 출력

홍길동씨의 주민번호 앞자리는 881120 입니다.
홍길동씨의 주민번호 앞자리는 1068234 입니다.

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [29]:
# 주민번호(13자리)를 입력받아 출생년도와 나이 성별을 출력해주는 프로그램을 작성하시오.
# 사용자 입력받기
pin = input("주민번호 13자리 입력하세요: ")
# "9201231000000"
#print(pin)

# 출생년도 추출용
yyyymmdd = pin[:6]

#성별 추출용 
gender = pin[6]

# 출생년도
year = ""

# 나이
age = 0

if gender in "12":
    year = '19' + yyyymmdd[:1+1]
elif gender in '34':
    year = '20' + yyyymmdd[:1+1]

age = 2022 - int(year) + 1

print("당신의 출생년도는 {}년".format(year))
print("당신의 나이는 {}세".format(age))

if int(gender) % 2 == 0:
    print("여성입니다.")
else:
    print("남성입니다.")

당신의 출생년도는 1992년
당신의 나이는 31세
남성입니다.

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [37]:
text = "a:b:c:d"
print(text)
print("a:b:c:d".replace(":","#"))

tt = "12:02:21"
print(tt.replace(":","/"))

te = "Python Programming"
print(te.replace("Python","Java"))

strs = "abcd"
print(strs, end=" ")
print(strs, end=" ")
print(strs, end="\n")

# 줄바꿈이 자동으로 되기 때문에 이스케이프문을 따로 설정해줄수 있다
for c in "abcd":
    print(c, end=" ")

a:b:c:d
a#b#c#d
12/02/21
Java Programming
abcd abcd abcd
a b c d

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [41]:
li = [1,3,5,4,2]
li.sort()
li.reverse()
print(li)

[5, 4, 3, 2, 1]

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [47]:
old_text = ['Life','is','too','short']
# new_text = old_text[0] + " " + old_text[1] + " " + old_text[2] + " " + old_text[3]
new_text = ""
for s in old_text:
    new_text += s + " "

print(new_text)

Life is too short

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [55]:
# []는 리스트이고, ()는 튜플이라함 차이점은?

li = [1,2,3]
tu = (1,2,3)

li[0] = 100
print("li =",li)

#tu[0] = 100
#print("tu =",tu)

a = (1, 2, 3)
a = a + (4,)
print(a)

li = [100, 2, 3]
(1, 2, 3, 4)

In [50]:
# 1차원부터 3차원 배열 추출하는법
objects = ['a', 1, True, [100, ['x', 'y']]]
objects[3][1][1]

'y'

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [62]:
a = dict()
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[250] = 'python'
print(a)
# a[[1]] = 'python'
# print(a)

{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 250: 'python'}

In [64]:
# text = 'python'
# text[0] = 'J'
# print(text)

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [68]:
a = {'A':90, 'B':80, 'C': 70}
print(a.pop('B'))
print(a)
# 즉 pop을 사용하면, 그부분의 값이 추출되어 사라지는것을 의미

80
{'A': 90, 'C': 70}

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [69]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)     # a 리스트를 집합자료형으로 변환
b = list(aSet)    # 집합자료형을 리스트 자료형으로 다시 변환
print(b)          # [1,2,3,4,5] 출력

[1, 2, 3, 4, 5]

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [72]:
a = b = [1,2,3]
# 아래의 id확인으로 같은 객체임을 알수있다 
print(id(a))
print(id(b))

# 즉 같은 메모리를 공유하고 있다.
a[1] = 4
print(a)
print(b)

4505278848
4505278848
[1, 4, 3]
[1, 4, 3]

In [73]:
# 하지만 아래와 같이 선언을 하면 다른 id를 가진것을 알수 있다.
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))
a[1] = 4
print(a)
print(b)

4505280512
4505282176
[1, 4, 3]
[1, 2, 3]